@page "/"
@using ProductReviewAnalyzer.WebApp.Shared.Models
@inject IConfiguration Configuration

<h3>Аналіз відгуків товару</h3>

<AnalysisForm />

<hr />

<h4>Історія запитів</h4>
<HistoryList />

<hr />

<h4>Dashboard</h4>
<TableauDashboard DashboardUrl="@Configuration["Tableau:DashboardUrl"]" />