@page "/"
@inject NavigationManager Nav

<h3>Аналіз відгуків товару</h3>

<AnalysisForm />

<hr />
<h4>Моя історія запитів</h4>
<HistoryList AllUsers="false" />

<h4 class="mt-4">Історія інших користувачів</h4>
<HistoryList AllUsers="true" />

<button class="btn btn-link mt-3" @onclick='() => Nav.NavigateTo("/all")'>
    Повноекранний перегляд історії
</button>